<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cheese Index</title>
  </head>
  <body>
    <a href="/cheeses/new">Add New Cheese</a>
    <h1>🧀 All Cheeses 🧀</h1>
    <ul>
        <% cheeses.forEach(cheese => { %>
            <li>
            <a href="/cheeses/<%= cheese._id %>"> <%= cheese.name %> </a>
            </li>
        <% }); %>
      </ul>
    </body>
</html>