<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Cheese App</title>
  </head>
  <body>
    <a href="/cheeses">Browse Cheeses</a>
   <div><a href="/cheeses/new">Add New Cheese</a></div> 
    <h1>🧀Welcome to the Cheese app!🧀</h1>
    <img
    class="cheese-pic1"
    src="https://cdn.pixabay.com/photo/2015/12/26/11/08/kaseplatte-1108564_640.jpg"
    alt="happy cheese"
  />
    <p>An app for collecting your favorite cheeses.</p>
  </body>
</html>